@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  min-width: 0;
  font: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

article {
  @apply max-w-[84ch] mx-auto;
}

blockquote {
  @apply bg-customTheme-950 px-2 relative mx-12 my-4 max-w-[80ch];
}

blockquote p {
  @apply text-sm text-customTheme-300;
}

blockquote:before {
  @apply w-1 inline-block -top-0 -left-1 h-full bg-customTheme-900 absolute;
  content: '';
}

body {
  @apply text-customTheme-50/80 text-base font-light bg-blackBlue;
  min-height: 100dvh;
}

button {
  @apply btn;
}

fieldset {
  @apply rounded-sm;
}

form {
  @apply rounded-sm text-sm font-normal;
}

form ::placeholder {
  @apply text-customTheme-50/20 text-sm;
}

main {
  @apply m-auto max-w-full xl:w-[1200px] 2xl:w-[1350px] p-8 xl:px-0 xl:py-4;
  min-height: calc(100dvh - 160px);
}

p {
  @apply max-w-[80ch] text-base  font-light underline-offset-2 decoration-customTheme-300/20 text-whitesmoke;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  @apply text-xl lg:text-2xl uppercase my-4 font-bold text-center;
}

h2 {
  @apply text-lg lg:text-xl font-semibold normal-case mt-4 mb-0 text-customTheme-500 underline-offset-2 decoration-customTheme-300/20;
}

h3 {
  @apply text-base lg:text-lg font-medium mt-4 mb-0 text-customTheme-600;
}

h4 {
  @apply text-base font-normal mt-4 mb-0 text-customTheme-700;
}
hr {
  @apply border border-customTheme-900 opacity-50 mb-8 mt-2;
}

ul ul {
  list-style: circle;
}

ul {
  @apply pl-5 list-outside text-sm font-extralight;
  list-style-type: disc;
}

header ul {
  @apply text-base font-normal;
  list-style: none;
}

input {
  @apply bg-customTheme-900/20 px-4 py-2 text-sm  outline-none rounded-sm;
}

label {
  @apply flex items-center justify-start text-sm  font-semibold;
}

strong {
  @apply font-semibold;
}

textarea {
  @apply w-full bg-customTheme-900/20 text-base  p-4 resize-none rounded-sm outline-none;
}

.animated-bg {
  background: linear-gradient(-45deg, rgba(5, 23, 29, 0.75) 30%, rgba(5, 23, 29, 0.5) 50%, rgba(5, 23, 29, 0.75) 70%);
  background-size: 600%;
  animation: bgAnimation 2500ms ease infinite;
}

.btn {
  @apply border border-customTheme-300/80 rounded-sm px-4 py-2 font-semibold text-customTheme-300 flex duration-200 pointerHover items-center justify-center shadow-sm shadow-customTheme-950;
}

.btn:hover {
  @apply bg-customTheme-900 cursor-pointer;
}

.btn:active {
  @apply bg-customTheme-800;
}

.btn-solid {
  @apply px-4 py-2 font-semibold flex bg-customTheme-400 text-customTheme-950 pointerHover items-center rounded-sm;
}

.btn-solid:hover {
  @apply bg-customTheme-300;
}

.btn-solid:active {
  @apply bg-customTheme-500;
}

.btn-solid:disabled {
  @apply bg-customTheme-800 text-customTheme-100;
}

.card {
  @apply rounded-sm bg-customTheme-950/25  flex flex-col justify-between border border-customTheme-300/50 shadow-lg  hover:shadow-md hover:shadow-customTheme-50/20;
}
.card-sm {
  @apply w-[325px]  h-[500px] p-8;
}

.card-md {
  @apply max-w-[500px] h-[450px] p-4;
}

.fadeIn {
  animation: fadeIn ease-in 600ms;
}

.fadeOut {
  animation: fadeOut ease-out 600ms;
}

.grid-mid {
  @apply grid grid-cols-[repeat(auto-fill,400px)] gap-4 items-center justify-center 2xl:justify-between;
}

.grid-small {
  @apply grid grid-cols-[repeat(auto-fill,325px)] gap-4 items-center justify-center 2xl:justify-between;
}
.hypervinculo {
  @apply hover:underline underline-offset-2 decoration-customTheme-300/20;
}

.link {
  @apply border border-customTheme-600 rounded-sm py-2 px-4  pointerHover;
}

.link:hover {
  @apply bg-customTheme-900;
}

.link:active {
  @apply bg-customTheme-800;
}

.menu-list {
  opacity: 100%;
}

.menu-list:hover {
  opacity: 80%;
}

.modalAnimation {
  animation: modalIn ease 450ms;
}
.pointerHover {
  @apply duration-200 relative;
}

.pointerHover::after {
  @apply border border-customTheme-50/30 rounded-sm -top-1 -left-1 absolute hidden;
  content: '';
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
}

.pointerHover:hover::after {
  @apply md:block;
}

@keyframes bgAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.test {
  rotate: 20deg;
}

@keyframes delfinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(300deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    @apply h-5/6;
  }
}
